@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



/* dark mode scrollbar */
::-webkit-scrollbar{
  width: 5px;
}

/* ::-webkit-scrollbar-track{
  background: #555;
} */
::-webkit-scrollbar-thumb{
  background: #4d4c4c;
  border-radius: 5px;
  
}

/* ::-webkit-scrollbar-thumb-hover{
  background: #242424;
} */